SpaceBox-3D/Connected Services/BrailleConverter/BrailleConverter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConvertToBraille">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertToBrailleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConvertToBrailleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConvertToBrailleSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertToBraille" />
  </wsdl:message>
  <wsdl:message name="ConvertToBrailleSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertToBrailleResponse" />
  </wsdl:message>
  <wsdl:portType name="BrailleConverterSoap">
    <wsdl:operation name="ConvertToBraille">
      <wsdl:input message="tns:ConvertToBrailleSoapIn" />
      <wsdl:output message="tns:ConvertToBrailleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BrailleConverterSoap" type="tns:BrailleConverterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertToBraille">
      <soap:operation soapAction="http://tempuri.org/ConvertToBraille" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BrailleConverterSoap12" type="tns:BrailleConverterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertToBraille">
      <soap12:operation soapAction="http://tempuri.org/ConvertToBraille" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BrailleConverter">
    <wsdl:port name="BrailleConverterSoap" binding="tns:BrailleConverterSoap">
      <soap:address location="https://localhost:44363/BrailleConverter.asmx" />
    </wsdl:port>
    <wsdl:port name="BrailleConverterSoap12" binding="tns:BrailleConverterSoap12">
      <soap12:address location="https://localhost:44363/BrailleConverter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>