SpaceBox-3D/Connected Services/ShapesServiceReference/ShapesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateCircle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="radius" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCircleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateCircleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateCircleSoapIn">
    <wsdl:part name="parameters" element="tns:CreateCircle" />
  </wsdl:message>
  <wsdl:message name="CreateCircleSoapOut">
    <wsdl:part name="parameters" element="tns:CreateCircleResponse" />
  </wsdl:message>
  <wsdl:portType name="ShapesServiceSoap">
    <wsdl:operation name="CreateCircle">
      <wsdl:input message="tns:CreateCircleSoapIn" />
      <wsdl:output message="tns:CreateCircleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShapesServiceSoap" type="tns:ShapesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCircle">
      <soap:operation soapAction="http://tempuri.org/CreateCircle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ShapesServiceSoap12" type="tns:ShapesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCircle">
      <soap12:operation soapAction="http://tempuri.org/CreateCircle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShapesService">
    <wsdl:port name="ShapesServiceSoap" binding="tns:ShapesServiceSoap">
      <soap:address location="https://localhost:44363/ShapesService.asmx" />
    </wsdl:port>
    <wsdl:port name="ShapesServiceSoap12" binding="tns:ShapesServiceSoap12">
      <soap12:address location="https://localhost:44363/ShapesService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>